.container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appBar {
  background-color: green;
  width: 100%;
}

.ToolBar {
  width: 100%;
}

.Navbar {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.left {
  justify-self: flex-start;
}

.right {
  justify-self: flex-end;
}

.leftcontainer {
  display: flex;
  justify-content: flex-start;
}

.icon {
  opacity: 0.6;
  cursor: pointer;
}

.headerText {
  margin-left: 1rem;
}

.rightcontainer {
  display: flex;
  justify-content: flex-end;
}

.links {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  background-color: rgba(211, 125, 185, 0.685);
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
